[submodule "server-config"]
	path = server-config
	url = git://github.com/h5bp/server-configs-lighttpd.git
	branch = master
[submodule "sample-app"]
	path = sample-app
	url = git://github.com/h5bp/html5-boilerplate.git
	branch = master
